<div class="card" [appCardColors]="video.snippet.publishedAt">
  <div class="thumbnail">
    <img src="{{ video.snippet.thumbnails.medium.url }}" />
  </div>
  <div class="statistics">
    <div class="views">
      <img src="assets/svg/views.svg" />
      <span>{{ video.statistics.viewCount | numberShort }}</span>
    </div>
    <div class="likes">
      <img src="assets/svg/likes.svg" />
      <span>{{ video.statistics.likeCount | numberShort }}</span>
    </div>
    <div class="dislikes">
      <img src="assets/svg/dislikes.svg" />
      <span>{{ video.statistics.dislikeCount | numberShort }}</span>
    </div>
    <div class="comments">
      <img src="assets/svg/comments.svg" />
      <span>{{ video.statistics.commentCount | numberShort }}</span>
    </div>
  </div>

  <div class="title">{{ video.snippet.title | titleShort }}</div>
  <button class="btn" [routerLink]="'/client/' + video.id">
    More...
  </button>
</div>
