<div class="card" [appCardColors]="post.snippet.publishedAt">
  <div class="thumbnail">
    <img src="{{ post.snippet.thumbnails.medium.url }}" />
  </div>
  <div class="statistics">
    <div class="views">
      <img src="../../../assets/svg/views.svg" />
      <span>{{ post.statistics.viewCount | numberShort }}</span>
    </div>
    <div class="likes">
      <img src="../../../assets/svg/likes.svg" />
      <span>{{ post.statistics.likeCount | numberShort }}</span>
    </div>
    <div class="dislikes">
      <img src="../../../assets/svg/dislikes.svg" />
      <span>{{ post.statistics.dislikeCount | numberShort }}</span>
    </div>
    <div class="comments">
      <img src="../../../assets/svg/comments.svg" />
      <span>{{ post.statistics.commentCount | numberShort }}</span>
    </div>
  </div>
  <div class="title">{{ post.snippet.title | titleShort }}</div>
  <button class="btn">More...</button>
</div>
